$button-color-text: #011086;

.App {
  text-align: center;

  .item-todo {
    padding: 14px;
    width: 250px;
    text-align: left;
    margin: 15px auto 0;
    background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    .item-text {
      display: inline-block;
      cursor: pointer;
    }
  }

  input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    background: transparent;

  }

  button {
    padding: 16px 7px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
    color: #fff;
    text-transform: capitalize;
    &:hover {
      color: $button-color-text;
    }
  }

  .item-todo .item-delete {
    display: inline-block;
    cursor: pointer;
    float: right;
    font-size: 15px;
    position: relative;
    left: -4px;
  }
}

.item-delete:hover {
  color: red;
}

.edit {
  margin-right: 14px;

  &:hover {
    color: $button-color-text;
  }
}

.strike {
  text-decoration: line-through;
}

.edit-task{
  margin-top: 16px;
}